::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #fff;
    padding: 1px
}

::-webkit-scrollbar-thumb {
    background: #9ca2b0;
    border-radius: 4px;
}
.lightbox::-webkit-scrollbar-track {
    background: black;
}

.lightbox::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .3);
    border-radius: 4px;
}

.grid {
    padding: 16px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
}

.grid img {
    display: block;
    width: 100%;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 10;
    animation: lightboxIn .5s;
    transition: opacity .3s;
}

.lightbox.fadeOut {
    opacity: 0;
}

.lightbox__next,
.lightbox__prev {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    opacity: .5;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 100%;
    transition: .3s;
}

.lightbox__next:hover,
.lightbox__prev:hover {
    opacity: .8;
}

.lightbox__prev {
    right: auto;
    left: 0;
    /* transform: rotate(180deg); */
}

.lightbox__close {
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: .5;
    cursor: pointer;
    z-index: 12;
}

.lightbox__close:hover {
    opacity: .8;
}

.lightbox__container img{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
    animation: lightboxIn .5s;
}

.lightbox__container {
    margin-right: 50px;
    margin-left: 50px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.lightbox__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 50px;
    height: 50px;
    padding: 5px;
    opacity: .5;
    background: url(../assets/svg/loader.svg) center center no-repeat;
}

.lightbox img {
    height: auto;
    width: 100%;
    animation: lightboxIn .5s;
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}