@charset "UTF-8";
::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: #fff;
  padding: 1px; }

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px; }

.lightbox::-webkit-scrollbar-track {
  background: black; }

.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  overflow-x: hidden; }

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  width: auto; }

.container {
  margin: 0 100px; }
  @media screen and (max-width: 500px) {
    .container {
      margin: 0;
      padding: 0; } }

.title {
  color: #901c1c;
  font-size: 1.25rem; }

.subtitle {
  font-size: 1rem;
  color: black; }

.smalltitle {
  color: #757575;
  font-size: 0.8rem; }

.show {
  display: block; }

/** @format */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%; }
  @media screen and (max-width: 500px) {
    header {
      margin: 1em 0;
      text-align: center;
      flex-direction: column;
      justify-content: center; } }
  header a {
    text-decoration: none;
    cursor: pointer; }
  header h1 {
    color: #901c1c; }
  header .logo {
    height: 2.5em; }

/** @format */
.photographer_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .photographer_section .container-card {
    text-align: center;
    padding: 2.5em 6em; }
  .photographer_section a {
    text-decoration: none; }
  .photographer_section img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%; }
  .photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .photographer_section article h2 {
      color: #d3573c;
      font-size: 2.25rem; }
    .photographer_section article img {
      height: 250px;
      width: 250px; }
  .photographer_section .photographer_city {
    color: #901c1c;
    font-size: 1.25rem; }
  .photographer_section .photographer_tagline {
    font-size: 1rem;
    color: black; }
  .photographer_section .photographer_price {
    color: #757575;
    font-size: 0.8rem; }

/**
 * /* menu caché -- accessiblité
 *
 * @format
 */
.a11y-nav {
  position: absolute;
  top: -10em;
  z-index: 100;
  width: 100%; }
  .a11y-nav li a {
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0.5em 0;
    background-color: #901c1c;
    text-decoration: none; }
  .a11y-nav li a:focus,
  .a11y-nav li a:hover {
    top: 10em; }

/** @format */
#contact_modal {
  display: none; }

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  padding: 0 5em; }
  .presentation h1 {
    color: #d3573c;
    font-weight: 400;
    font-size: 64px; }
  .presentation h2 {
    font-weight: 400;
    font-size: 24px;
    color: #901c1c; }
  .presentation p {
    font-size: 18px;
    font-weight: 400;
    margin: 1em 0; }
  .presentation img {
    object-fit: cover;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover; }

.select {
  display: flex;
  position: relative;
  outline: none;
  cursor: pointer; }
  .select ul {
    list-style: none;
    margin: 0 2em;
    background-color: #901c1c;
    color: #fff;
    border-radius: 5px;
    position: relative;
    display: inline-block; }
    .select ul li {
      display: none;
      padding: 0.5em;
      margin: 0 0.5em; }
      .select ul li i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%); }
      .select ul li a {
        text-decoration: none;
        color: white; }
    .select ul li:first-child {
      display: block; }

.gallery {
  overflow-y: hidden;
  padding-bottom: 5em; }
  .gallery__img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .gallery__img a {
      text-decoration: none;
      color: #901c1c;
      width: 350px;
      height: 300px;
      margin: 3em 0; }
      .gallery__img a img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        object-fit: cover; }
    .gallery__img__desc {
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      position: relative; }
      .gallery__img__desc i {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0; }
      .gallery__img__desc span {
        position: absolute;
        right: 1.5em;
        top: -1.5px;
        bottom: 0; }

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer; }

/** @format */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  animation: lightboxIn 0.5s;
  transition: opacity 0.3s; }
  .lightbox .fadeOut {
    opacity: 0; }
  .lightbox__next, .lightbox__prev {
    background: white;
    color: #901C1C;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 100%;
    transition: 0.3s; }
    .lightbox__next :hover,
    .lightbox__next :hover, .lightbox__prev :hover,
    .lightbox__prev :hover {
      opacity: 0.8; }
  .lightbox__prev {
    right: auto;
    left: 0;
    /* transform: rotate(180deg); */ }
  .lightbox__close {
    background-color: transparent;
    color: #901C1C;
    border: none;
    position: fixed;
    top: 20px;
    right: 10px;
    cursor: pointer;
    z-index: 12; }
    .lightbox__close :hover {
      opacity: 0.8; }
  .lightbox__container {
    margin-right: 50px;
    margin-left: 50px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative; }
    .lightbox__container img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100vh; }
  .lightbox__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 50px;
    height: 50px;
    padding: 5px;
    opacity: 0.5;
    background: url(../assets/svg/loader.svg) center center no-repeat; }

@keyframes lightboxIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto; }
  .modal header {
    justify-content: space-between;
    width: 100%; }
    .modal header img {
      cursor: pointer; }
    .modal header h2 {
      font-size: 64px;
      font-weight: normal;
      text-align: center; }

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start; }
  form label {
    color: #312e2e;
    font-size: 36px; }
  form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px; }
  form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px; }
