/**
 * /* menu caché -- accessiblité
 */

.a11y-nav {
  position: absolute;
  top: -10em;
  z-index: 100;
  width: 100%;

  & li {
    & a {
      color: #fff;
      font-weight: 700;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0.5em 0;
      background-color: #901c1c;
      text-decoration: none;
    }

    & a:focus,
    & a:hover {
      top: 10em;
    }
  }
}
