::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #fff;
  padding: 1px
}

::-webkit-scrollbar-thumb {
  background: #9ca2b0;
  border-radius: 4px;
}
.lightbox::-webkit-scrollbar-track {
  background: black;
}

.lightbox::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .3);
  border-radius: 4px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  width: auto;
}

.container {
  margin: 0 100px;

  @media screen and (max-width: 500px) {
    margin: 0;
    padding: 0;
  }
}


.title {
  color: #901c1c;
  font-size: 1.25rem;
}

.subtitle {
  font-size: 1rem;
  color: black;
}

.smalltitle {
  color: #757575;
  font-size: 0.8rem;
}

.show {
  display: block;
}


