/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 100px;

  @media screen and (max-width: 500px) {
    margin: 0;
    padding: 0;
  }
}

.title {
  color: #901c1c;
  font-size: 1.25rem;
}

.subtitle {
  font-size: 1rem;
  color: black;
}

.smalltitle {
  color: #757575;
  font-size: 0.8rem;
}


