header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header a {
  text-decoration: none;
  cursor: pointer;
}

header h1 {
  color: #901c1c;
}

.logo {
  height: 50px;
}