/** @format */

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  & .modal-content {
    position: relative;
    background-color: #db8876;
    border-radius: 5px;
    margin: 15% auto;
    padding: 10px 20px;
    width: 40%;

    h2 {
      font-weight: 400;
      font-size: 50px;
      color: black;
    }

    & .title {
      position: relative;

      & .close {
        position: absolute;
        top: -0.4em;
        right: -0.1em;
        font-size: 100px;
        font-weight: 100;
        color: white;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 1em 0;

      label {
        color: #312e2e;
        font-size: 32px;
        margin: 0.1em 0;
      }

      input {
        border-radius: 5px;
        border: none;
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin-bottom: 0.6em;
      }

      textarea {
        height: 120px;
        border-radius: 5px;
        border: none;
      }

      .error {
        color: red;
        display: none;
      }
    }

    button {
      font-size: 20px;
      font-weight: bold;
      color: white;
      padding: 11px;
      width: 170px;
      height: 60px;
      margin: 0.8em 0;
      border: none;
      background-color: #901c1c;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #31b531;
  border-radius: 10px;
  padding: 1em;
  color: white;
  display: none;
}

}
