/** @format */

#contact_modal {
  display: none;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  padding: 0 5em;

  & img {
   @include imgPhoto;
    width: 150px;
    height: 150px;
  }
}

.select {
  display: flex;
  position: relative;
  outline: none;
  cursor: pointer;
  
  & ul {
    list-style: none;
    margin: 0 2em;
    background-color: #901c1c;
    color: #fff;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    
    & li {
      display: none;
      padding: .5em;
      margin: 0 .5em;

      i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      
      & a {
        text-decoration: none;
        color: white;
      }
    }
    & li:first-child{
      display: block;
    }

    // & li:nth-child(-n+2) {
    //   border-bottom: 1px solid white;
    // }
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}