/** @format */

#contact_modal {
  display: none;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fafafa;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
    height: 300px;
    padding: 0 5em;
    justify-content: space-between;
  }

  & h1 {
    color: #d3573c;
    font-weight: 400;
    font-size: 64px;
  }

  & h2 {
    font-weight: 400;
    font-size: 24px;
    color: #901c1c;
  }

  p {
    font-size: 18px;
    font-weight: normal;
    margin: 1em 0;
    color: #525252;
  }

  & img {
    @include imgPhoto;
    width: 220px;
    height: 220px;
    object-fit: cover;
  }
}

.gallery {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  overflow-y: hidden;
  padding-bottom: 5em;

  &__menu {
    margin-top: 1em;
    display: flex;
    align-items: center;

    & p {
      font-size: 18px;
      font-weight: 700;
    }

    &__list {
      margin: 0 1em;
      list-style: none;
      position: relative;

      & i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
      }
      & i:first-child {
        visibility: hidden;
      }

      :hover {
        & i:first-child {
          visibility: visible;
        }

        & i:last-child {
          visibility: hidden;
        }
      }

      :hover ul {
        opacity: 1;
      }
      & ul {
        background: #901c1c;
        height: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        top: 35px;
        width: 100%;

        & li {
          list-style: none;

          & a {
            text-decoration: none;
            color: #fff;
            display: block;
            padding: 5px 20px;
            position: relative;
          }
        }
      }
    }
    & ul {
      & li {
        & a {
          border-radius: 5px;
          background: #901c1c;
          color: #fff;
          display: block;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
        }

        & .btn-border {
          margin-top: 0.4em;
          border-radius: 0 !important;
          border: 1px solid white;
          border-left: 0;
          border-right: 0;
        }

        & a:last-child {
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }

  .medias-container {
    margin: 3em 0;
  }

  &__img {
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
      object-fit: cover;
      width: 350px;
      height: 300px;
    }

    &__desc {
      position: relative;
      display: flex;
        flex-direction: row;
        justify-content: space-between;

      & p {
        color: #901c1c;
        font-size: 20px;
        font-weight: 400;
      }

      & i {
        color: #901c1c;
        font-size: 20px;
        right: 0;
        top: 0;
        bottom: 0;
      }

      & span {
        color: #901c1c;
        font-size: 20px;
        right: 0;
        top: -1.5px;
        bottom: 0;
      }

      & .icon-full {
        display: none;
      }


      
    }
  }
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
